# BACKEND
CLIENT_URL=http://localhost:5173
SERVER_PORT=3000

# API KEYS
AI_API_KEY=your_gemini_key
GEMINI_API_KEY=your_cohere_key

# DB
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name
POSTGRES_PORT=5432

# JWT 
JWT_SECRET=your_secret_jwt_token